*~
*.mat
*.dat
*.nii
*.png
*.eps
**/output
**/auto
**/.ipynb_checkpoints
external/fieldtrip-beamforming/.git
external/lumberjack/.git
external/libsvm*/matlab/*.mex*
external/FEAST*/**/*.mex*
!external/fieldtrip-20160128/template/atlas/**/*.nii