*~
*.mat
*.dat
*.nii

# no images, except for experiment related ones
*.png
*.eps
!experiments/**/*.png
!experiments/**/*.eps
experiments/exp13-lsl-error-vs-size/img/**

**/output
**/auto
**/.ipynb_checkpoints
**/progressbar*.txt

# no external git projects
external/fieldtrip-beamforming/.git
external/lumberjack/.git
external/TMSBL_code
external/STSBL_DEMO
external/asymp_package_v2b/Chap*
external/asymp_package_v2b/examples
external/psom/.git
external/export_fig/.git

# no compiled code
external/libsvm*/matlab/*.mex*
external/FEAST*/**/*.mex*

# no large data files
!external/fieldtrip-20160128/template/atlas/**/*.nii
